[submodule "Ghost/ThirdParty/lvgl"]
	path = Ghost/ThirdParty/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Ghost/ThirdParty/cJSON"]
	path = Ghost/ThirdParty/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule ".\\Ghost\\ThirdParty\\list"]
	path = .\\Ghost\\ThirdParty\\list
	url = https://github.com/clibs/list.git
