[submodule "Ghost/thirdparty/cJSON"]
	path = ./Ghost/thirdparty/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "Ghost/thirdparty/list"]
	path = Ghost/thirdparty/list
	url = https://github.com/clibs/list.git
[submodule "./DeploymentTool/safe_lvgl_converter"]
	path = ./DeploymentTool/safe_lvgl_converter
	url = https://github.com/h13-0/safe_lvgl_converter.git
[submodule "Ghost/thirdparty/lvgl"]
	path = Ghost/thirdparty/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Ghost/thirdparty/pikascript"]
	path = Ghost/thirdparty/pikascript
	url = https://github.com/pikasTech/pikascript.git
