[submodule "src/thirdparty/cJSON"]
	path = src/thirdparty/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "src/thirdparty/list"]
	path = src/thirdparty/list
	url = https://github.com/clibs/list.git
[submodule "src/thirdparty/lvgl"]
	path = src/thirdparty/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "src/thirdparty/pikascript"]
	path = src/thirdparty/pikascript
	url = https://github.com/pikasTech/pikascript.git
[submodule "tool/safe_lvgl_converter"]
	path = tool/safe_lvgl_converter
	url = https://github.com/h13-0/safe_lvgl_converter.git
[submodule "src/thirdparty/lua"]
	path = src/thirdparty/lua
	url = https://github.com/lua/lua.git
